@tailwind base;
@tailwind components;
@tailwind utilities;
.left{
    min-height: 100%;
    @apply w-[520px] h-full  fixed 
}
.right{
    position: absolute;
    right: 0;
   @apply w-[684px] mx-[5px]
}
.header{
    @apply text-center  mt-[10rem] 
}
.topic{
   @apply  font-semibold text-[80px] mb-[2rem]
}
.header-des{
    @apply mb-[2rem] text-[20px]

}
.resume{
    box-shadow:
     5px 0px 30px 1px rgb(165, 165, 165) ,
     -5px 0px 30px 1px rgb(165, 165, 165) ,
      0px 5px 30px 1px rgb(165, 165, 165), 
     0px -5px 30px 1px rgb(165, 165, 165) ;
    position: absolute;
    left: 36%;
    @apply flex text-center rounded
}
.resume i{
    @apply mr-[0.5rem]
}
.photos{
  @apply mt-[15rem]  flex items-center
}
.photos-topic{
    position: relative;
    top: 15rem;
     @apply text-[33px]  text-[#757575] 
}
.left-photos{
   @apply w-1/2 mx-[5px]
}
.right-photo{
    @apply  w-1/2 mx-[5px]

}
.right-photo img , .left-photos img{
    @apply m-[5px]
}
.lastimg{
    @apply self-stretch h-[200%]
}
.about{
    @apply mt-[4rem]
}
.about-header{
      @apply mb-[1rem] text-[33px]  text-[#757575] 
}
.about-des{
    line-height: 25px;
   @apply text-[#757575]  text-justify text-[18px]
}
.skiils{
    @apply mt-[2rem]
}
.skils-header{
   @apply text-[33px]  text-[#757575] mb-[1rem]
}
.des-skill{
   @apply text-[20px] text-[#757575] mb-[0.5rem] text-justify
}
.skill1-left{
    @apply bg-[#757575] w-[95%] h-[35px] text-white text-center text-[18px] mb-[0.25rem]
}

.skill2-left{
    @apply bg-[#757575] w-[85%] h-[35px] text-white text-center text-[18px] mb-[0.25rem]
}

.skill3-left{
    @apply bg-[#757575] w-[80%] h-[35px] text-white text-center text-[18px] mb-[0.25rem]
}
.bar-skill{
    @apply mt-[1.25rem] bg-[#757575] rounded  text-white flex text-center h-[100px] items-center font-medium text-[18px]
}
.skill-des{
    @apply flex flex-col justify-start w-1/4

}
.d-resume{
    box-shadow:
    5px 0px 30px 1px rgb(165, 165, 165) ,
    -5px 0px 30px 1px rgb(165, 165, 165) ,
     0px 5px 30px 1px rgb(165, 165, 165), 
    0px -5px 30px 1px rgb(165, 165, 165) ;
   @apply flex text-white rounded mt-[2rem] bg-[#757575] p-5
}
.d-resume i{
  @apply  mr-[1rem]
}
.reputation{
   @apply mt-[5rem] 
}
.reputation-header{
  @apply text-[33px]  text-[#9b9b9b] mb-[2rem]
}
.pepole{
 @apply flex flex-col 
}
.res1 , .res2 , .res3{
    @apply flex my-4 bg-[#979797] w-[500px] rounded
}
.res1 img , .res2 img , .res3 img{
    @apply rounded-full h-[90px] mr-[1rem]
}
.des-rep{
     @apply text-[18px] text-[#ffffff] flex flex-col font-semibold
}
.job1{
    position: relative;
    bottom: 28px;
    left: 100px;
}
.job{
    position: relative;
    bottom: 28px;
    left: 130px;
}
.MyPrice{
  @apply mt-[4rem]
}
.myp-header{
 @apply   text-[33px]  text-[#757575] mb-[1rem]
}
.plans{
   @apply flex 
}
.basic-plan , .pro-plans{
 @apply w-1/2  mx-[1rem] rounded font-sans text-center text-[#757575] mt-[0.75rem]
}

.basic-items , .pro-items{
    @apply p-[16px] text-[16px] font-sans font-semibold
}
.first{
    @apply px-[35px] py-[20px] font-extrabold bg-black text-[24px] rounded text-white
}
.salam{
    @apply bg-[#616161]
}
.price-btn{
   @apply py-[14px] px-[24px] text-[15px] font-sans font-bold
}
.price-btn:hover{
   @apply bg-black text-white 
}
.contact{
   @apply mt-[4rem]
}
.contact-header{
   @apply text-[33px]  text-[#757575] mb-[1rem]
}
.contact-lis{
   @apply mt-[1rem]  inline-block  text-white
}
.contact-items{
  @apply flex font-semibold font-sans text-[20px] p-4 bg-[#acabab] my-[2rem] rounded-full items-center
}
.contact-items i{
  @apply  mr-[1rem]
}
.imghast{
    filter: grayscale(80%);
    @apply mt-[50px] rounded-sm
}
.comment{
     @apply mt-[8rem] 
}
.comment-hea{
 @apply  text-[23px]  text-[#757575] mb-[1rem]
}
.comment form{
    @apply flex flex-col w-[600px]
}
.comment form input{
    border: 1px solid #ccc!important;
    @apply py-[16px] px-[8px] my-[1rem] h-[57px] text-[#757575] font-semibold
}
.dokme{
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    left: 1.5rem;
  @apply text-left mt-[1rem] flex font-sans items-center text-[20px]
}
.dokme:hover{
    color: rgba(0, 0, 0, 1);

}
.dokme i{
    @apply mr-[1rem]
}
.socials{
   @apply flex mt-[10rem] bg-[#6161614d] rounded
}
.socials li{
    transition: all 0.5s;
}
.socials li:hover{
    @apply rotate-[45deg] scale-x-75
}